PORT=3000

JWT_SECRET=supersecretkey

#...............Base URL mandatory for prodution ...............#
# BASE_URL=http://files.mogiio.com
APPROVERS=Avi:adm@gmail.com,Amit:amit@gmail.com

SMTP_USER=abc@gmail.com
SMTP_PASS=upkodoswelb  # Gmail App Password (NOT normal password)

GCS_BUCKET= provide bucket name


#............keep this if you are using in local without docker and replace the full path of gcp service account path 
#GOOGLE_APPLICATION_CREDENTIALS=/home/avidubey/Videos/gcs-file-sharring/key.json


##########_____enable when you are runing with docker compose 
# GOOGLE_APPLICATION_CREDENTIALS=/app/key.json